*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

.cell {
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alive {
  background-color: #000;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.btn {
  width: 70px;
  height: 20px;
  outline: none;
}

.controls__inputs {
  display: flex;
}

.control {
  margin-left: 5px;
}

.control > input {
  width: 3.2rem;
}

#grid {
  display: grid;
  place-content: center;
}
